.heading {
    background-color: #114B5F;
    color: black;
    border-radius: 8px;
    padding: 1rem;
    display: inline-block;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 40px;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-post {
    max-width: 700px;
    margin: 0 auto;
    background: #D8D5DB;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
}

h2 {
    color: #222;
    margin-bottom: 20px;
    font-size: 1.5em;
    border-bottom: 2px solid #eee;
    padding-bottom: 8px;
}

p, li {
    font-size: 1em;
    margin-bottom: 16px;
    text-align: justify;
}

ol {
    padding-left: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 4px;
}

strong {
    color: #111;
}

.inline-img-left {
    float: left;
    width: 40%;
    margin-right: 1em;
}

.inline-img-right {
    float: right;
    width: 40%;
    margin-left: 1em;
}

section::after {
    content: "";
    display: block;
    clear: both;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 2em 0;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9em;
    color: #555;
}
